langchain>=0.1.9
langchain-core>=0.1.17
langchain-openai>=0.0.5
langgraph>=0.0.35
fastapi>=0.104.1
uvicorn>=0.23.2
python-dotenv>=1.0.0
langchain-community>=0.0.21
langchain-chroma>=0.0.3
requests>=2.31.0
google-search-results>=2.4.2
python-multipart>=0.0.5  # Pour le traitement des formulaires multipart
Jinja2>=3.1.2  # Pour les templates
aiofiles>=23.1.0  # Pour la gestion asynchrone des fichiers
PyPDF2>=3.0.0  # Pour le traitement des PDF
python-docx2txt>=0.8  # Pour le traitement des fichiers DOCX
python-pptx>=0.6.21  # Pour traiter les fichiers PowerPoint
unstructured>=0.10.30  # Base pour unstructured
unstructured-inference>=0.7.21  # Support amélioré pour l'extraction
pdf2image>=1.16.3  # Pour le traitement des PDF
pytesseract>=0.3.10  # Pour l'OCR
poppler-utils>=0.1.0  # Dépendance pour pdf2image
nltk>=3.8.1  # Pour le traitement du langage naturel
chromadb>=0.4.18  # Pour la base vectorielle
pydantic>=2.4.0  # Utiliser Pydantic V2
