langchain
langchain-core
langchain-openai
langgraph
fastapi
uvicorn
python-dotenv
langchain-community
langchain-chroma
requests
google-search-results
python-multipart
Jinja2
aiofiles
PyPDF2
python-docx2txt
python-pptx
unstructured
unstructured-inference
pdf2image
pytesseract
poppler-utils
nltk
chromadb
pydantic
